<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a2000.tas"
    android:versionCode="3"
    android:versionName="3.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="hanelsoft.vn.timeattendance.control.PincodeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hanelsoft.vn.timeattendance.control.ClockActivity"
            android:label="@string/title_activity_clock"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDUICrG93fUABfx0VRcmKekdAxBMIjF6uM" />

        <activity
            android:name="hanelsoft.vn.timeattendance.control.Registration"
            android:label="@string/title_activity_registration"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name="hanelsoft.vn.timeattendance.control.HomeActivity"
            android:label="@string/title_activity_pincode"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>

        <service android:name="hanelsoft.vn.timeattendance.service.TimerService"></service>

    </application>

</manifest>
